@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  body {
    @apply text-[#b0b0b0] overflow-x-hidden relative bg-black;
  }
  h1 {
    @apply font-semibold;
  }
  h2 {
    @apply font-semibold;
  }
  h3 {
    @apply font-medium;
  }
  h4 {
    @apply font-medium;
  }
  p {
    @apply font-normal text-base;
  }
}
html {
  --line-color: rgba(255, 255, 255, 0.2);
}

.borderBlack {
  @apply border border-black/10;
}
.stars-anim {
  animation: twinkle 2.7s ease infinite alternate;
}
@keyframes twinkle {
  0% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
  }
}
.montserrat {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
